/vehicle.Business/bin/Debug/net6.0
/vehicle.Business/obj/Debug/net6.0
/vehicle.Business/obj
/vehicle.Data/bin/Debug/net6.0
/vehicle.Data/obj/Debug/net6.0
/vehicle.Data/obj
/vehicle.api/bin/Debug/net6.0
/vehicle.api/obj/Debug/net6.0
/vehicle.api/obj
